body {
  min-width:400px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

#main-container {
  margin-left:20px;
  min-width: 600px;
}

#current {
  color:maroon;
  font-weight: 600;
  font-style:italic;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: inline-grid;
  padding: 0px 30px 0px 0px;
  height: 40px;
}

a {
  text-decoration:none;
  color: hotpink;
}

a:hover {
  text-decoration:underline;
}

h4 {
  color:grey;
}

#canopy-goals {
  list-style-type: circle;
}
