@import url('https://fonts.googleapis.com/css2?&family=Montserrat&family=Codystar&family=Raleway+Dots&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.flex-wrapper {
  display: flex;
}

#main-container {
  margin-left:10px;
  margin-right:20px;
  min-width: 450px;
}

#main-container-content {
  margin-left:10px;
  margin-right:20px;
  min-width: 450px;
}

#cv {
  margin-right:20px;
}

#prod-stack-body {
  margin-right:20px;
}

#main-header {
  margin: 10px 0px 10px 0px;
}

#pic {
  max-width:460px;
  float:right;
  margin: 0px 0px 10px 10px;
}

#hello {
  font-family: Codystar, cursive;
}

#about-me {
  min-width: 460px;
}

#current {
  color:maroon;
  font-style:italic;
  text-decoration: underline;
}

#social-nav li {
  display: inline-grid;
  padding: 0px 30px 0px 0px;
}

#main-header li {
  display: inline-grid;
  padding: 0px 30px 0px 0px;
}

#social-nav ul {
  padding: 0px;
}

#main-header ul {
  padding: 0px;
}

a {
  text-decoration:none;
  color: hotpink;
}

a:hover {
  text-decoration:underline;
}

h3 {
  margin:20px 0px 00px 0px;
}
h4 {
  margin:0px;
  color:grey;
}

#computing {
  margin-right:50px;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}
